/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}
.text-white{
    color: #fff !important;
}
#main{

}
#header{
    height: 46px;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1; 
    /* để thanh header ko bị chạy do psition của slider */
}
#nav{
    display: inline-block;
}
#nav, .subnav{
    list-style-type: none;
}
#nav > li {
    display: inline-block;
}
#nav li {
    position: relative;
}
#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}
#nav li:hover .subnav{
    display: block;
}
#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}
#nav > li:hover > a ,
#nav .subnav li:hover {
    color: #000;
    background-color: #ccc;
}
#nav .subnav {
    display: none;
    min-width: 160px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;

}
#nav .sunnav_icon_down{
    font-size: 24px;
}
#header .header__search{
    float: right;
}
#header .header__search:hover{
    background-color: red;
    cursor: pointer;
}
#header .search_icon{
    color: #fff;
    font-size: 24px;
    line-height: 46px;
    padding: 0 20px;
}
#slider{
    margin-top: 46px;
    padding-top: 50%;
    background: url('/asset/img/slide1/1.jpg') top center / cover no-repeat;
    position: relative;
}
#slider .text_content{
    position: absolute;
    color: #fff;
    text-align: center;
    bottom: 47px;
    width: 100%;
}
#slider .text_address{
    font-weight: 500;
    /* đọ dày chữ */
    font-size: 24px;
    margin-bottom: 25px;
}
#slider .text_description{
    font-size: 15px;
    font-weight: 600;
}
#content{
    height: 1500px;
}

#content .content_description{
    width: 814px;
    padding: 64px 16px;
    margin-right: auto;
    margin-left: auto;
}
#content .content_header{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin: 10px 0;
    letter-spacing: 4px;
}
#content .content_sub_header{
    text-align: center;
    font-size: 15px;
    margin: 15px 0;
    font-style: italic;
    opacity: 0.6;
}
#content .content_para{
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}
#content .member-list{
    display: flex;
    justify-content: space-around;
    margin-top: 47px;
}
#content .member-item{
    text-align: center;
}
#content .member-item__name{
    margin: 15px 0;
    font-size: 15px;
}
#content .member-item__img{
    width: 60%;
}
/* TOUR */
.tuor_section{
    background-color: #000;
}
.tickets-list{
    background-color: #fff;
    margin-top: 35px;
    list-style: none;

}
.tickets-list li{
    font-size: 15px;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}
.sold_out{
    background-color: #f44336;
    color: #fff;
    margin-left: 16px;
    padding: 4px 8px;

}
.number{
    float: right;
    background-color: #000;
    border-radius: 50%;
    margin-top: -4px;
    width: 24px;
    height: 27px;
    text-align: center;
    line-height: 27px;
    color: white;
}

.tour__address{
    display: flex;
    justify-content:space-between;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 44px;
}
.tuor__address--form{
    margin-top: 32px;
    padding: 0 8px;
}
.tuor__add__item{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;

}
.tuor__add--img{
    width: 100%;
    display: block;
    /* thẻ img có tính inlne-block nên chuyển sang block */
}
.tuor__add--img:hover{
    opacity: 0.7;
    /* độ mờ đi khi thao tac */
}
.tuor__add--name{
    padding-bottom: 15px;
}
.tuor__add--date{
    margin: 15px 0;
    opacity: 0.6;
}
.tuor__add--desc{
    margin: 15px 0;
}
.tour__add--but{
    padding: 12px 16px;
    color: #fff;
    background-color: #000;
    text-decoration: none;
    display: inline-block;
}
.tour__add--but:hover{
    background-color: #ddd;
    color: #000;
}

.model{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.model__container{
    background-color: #fff;
    width: 900px;
    min-height: 100px;
    position: relative;
}
.model__header{
    height: 129px;
    font-size: 30px;
    background-color: #009688;
    text-align: center;
    line-height: 129px;
    color: #fff;
    letter-spacing: 4px;
}
.model__header--icon{
    margin-right: 8px;
}
.model--close{
    position: absolute;
    right: 0;
    font-size: 24px;
    color: #fff;
    padding: 15px;
}
.model--close:hover{
    background-color: #ddd;
    cursor: pointer;
    color: #000;
}
.model__body{
    padding: 16px;
}
.model__label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.model__ip {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 26px;
}
#buy-tickets {
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px;
    background: #009688;
    color: white;
    border: none;
    margin-bottom: 26px;
    cursor: pointer;
}
#buy-tickets:hover{
    opacity: 0.7;
}
.model__footer{
    text-align: right;
}
.model__help__link{
    color: #2196F3;
}
#footer{

}